header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnEN{
    background-image:url('../img/icon/english.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnIT{
    background-image:url('../img/icon/italiano.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnFR{
    background-image:url('../img/icon/français.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnPL{
    background-image:url('../img/icon/Polskie.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnES{
    background-image:url('../img/icon/Español.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnRU{
    background-image:url('../img/icon/русский.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnDE{
    background-image:url('../img/icon/Deutsch.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}


header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.lnDE{
    background-image:url('../img/icon/Deutsch.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}


header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.ITappSOPRA{
    background-image:url('../img/it/abitazione_superiore.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.ITappCENTRO{
    background-image:url('../img/it/abitazione_centrale.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.ITappSOTTO{
    background-image:url('../img/it/abitazione_inferiore.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}

header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.ENappSOPRA{
    background-image:url('../img/en/abitazione_superiore.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.ENappCENTRO{
    background-image:url('../img/en/abitazione_centrale.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}
header .top-header .menu-navbar .navbar .nav>li>.dropdown-menu>li>a.ENappSOTTO{
    background-image:url('../img/en/abitazione_inferiore.png');
    background-repeat: no-repeat;
    text-indent: -2000px;
    background-position: 0px 12px;
}


/*Menù Lingue : Pagina Italiano*/
header .top-header .menu-navbar .navbar .nav>li>a.IT{
    
    background-image:url('../img/icon/Italy.png');
    background-position:9px 25px;
    background-repeat:no-repeat;
    display:inline-block;
    text-indent:-2000px;
    padding-right:35px;

}
/*Menù Lingue : Pagina Inglese*/
header .top-header .menu-navbar .navbar .nav>li>a.EN{
    
    background-image:url('../img/icon/England.png');
    background-position:9px 25px;
    background-repeat:no-repeat;
    display:inline-block;
    text-indent:-2000px;
    padding-right:35px;

}
/*Menù Lingue : Pagina Francese*/
header .top-header .menu-navbar .navbar .nav>li>a.FR{

    background-image:url('../img/icon/france.png');
    background-position:9px 25px;
    background-repeat:no-repeat;
    display:inline-block;
    text-indent:-2000px;
    padding-right:35px;

}
/*Menù Lingue : Pagina Polacca*/
header .top-header .menu-navbar .navbar .nav>li>a.PL{
    
    background-image:url('../img/icon/Poland.png');
    background-position:9px 25px;
    background-repeat:no-repeat;
    display:inline-block;
    text-indent:-2000px;
    padding-right:35px;

}
/*Menù Lingue : Pagina Spagnola*/
header .top-header .menu-navbar .navbar .nav>li>a.ES{
    
    background-image:url('../img/icon/Spain.png');
    background-position:9px 25px;
    background-repeat:no-repeat;
    display:inline-block;
    text-indent:-2000px;
    padding-right:35px;

}
/*Menù Lingue : Pagina Russa*/
header .top-header .menu-navbar .navbar .nav>li>a.RU{

    background-image:url('../img/icon/russia.png');
    background-position:9px 25px;
    background-repeat:no-repeat;
    display:inline-block;
    text-indent:-2000px;
    padding-right:35px;

}
/*Menù Lingue : Pagina Tedesco*/
header .top-header .menu-navbar .navbar .nav>li>a.GE{

    background-image:url('../img/icon/germany.png');
    background-position:9px 25px;
    background-repeat:no-repeat;
    display:inline-block;
    text-indent:-2000px;
    padding-right:35px;

}

.main-content .grid_full_width .property_detail .infotext-detail .row .title-info li {
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    font-size: 18px; color: #333333;
}

.main-content .slogan{
    width: 90%;
    margin:0 auto;
    padding-top:3%;
    font-size: 20px;
    padding-bottom:3%;
}

.flexslider .slides img{
    width:100% !important;
    height:10% !important;
}